@import 'fonts.scss';
@import 'normalize.scss';
@import '../../bower_components/slick-carousel/slick/slick.scss';
.container{
    padding: 0 15px;
    max-width: 576px;
    margin: 0 auto;
    width: 98%;
}
h1{
    font-family: "Ubuntu-Medium";
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #313646;
}
.main{
    padding-bottom: 60px;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        &-img{
            margin-right: 22px;
        }
        h1{
            font-family: "Ubuntu-Medium";
            font-size: 24px;
            line-height: 28px;
            color: #313646;
            span{
                font-family: "Ubuntu-MediumItalic";
                color: #56D042;
            }
        }
    }
    .slider{
        margin-top: 44px;
        margin-bottom: 34px;
        &__item{
            background: linear-gradient(270deg, #FFC83C 0%, #FE4848 100%), #9EA1AA;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            padding: 8px 25px;
            a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .slider-text{
                    &__title{
                        font-family: "Roboto-Medium";
                        font-size: 20px;
                        color: #FFFFFF;
                        font-weight: 500;
                    }
                    &__button{
                        font-family: "Roboto-Regular";
                        font-size: 9px;
                        color: #FFFFFF;
                        margin-top: 15px;
                    }
                }
            }
        }
        .slick-dots{
            display: flex;
            justify-content: center;
            margin-top: 18px;
            li{
                margin: 0 3px;
                
                button{
                    color: #FFF;
                    background: #E5E5E5;
                    border: none;
                    font-size: 0;
                    line-height: 0;
                    height: 5px;
                    width: 5px;
                    padding: 0;
                    border-radius: 50%;
                }
            }
            .slick-active button{
                background: #9EA1AA;
            }
        }
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
    
        &__item{
            background: #F4F4F4;
            border-radius: 20px;
            width: 49%;
            height: 183px;
            margin-bottom: 12px;
        }
    }
}
.projects{
    padding-bottom: 140px;
    h1{
        margin-top: 50px;
        margin-bottom: 22px;
        text-align: center;
    }
    .project{
        &__item{
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            padding-top: 16px;
            padding-bottom: 19px;
            .project-info{
                display: flex;
                justify-content: space-between;
                &__description{
                    display: flex;
                    img{
                        margin-right: 16px;
                        width: 39px;
                        height: 39px;
                    }
                    .project-info__text{
                        h2{
                            font-family: "Ubuntu-Medium";
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 23px;
                            color: #313646;
                            margin-bottom: 7px;
                        }
                        p{
                            font-family: "Ubuntu-Regular";
                            font-size: 11px;
                            line-height: 13px;
                            color: #80838E;
                        }
                    }  
                }
                .projrct-info__status{
                    font-family: "Ubuntu-Regular";
                    font-size: 8px;
                    line-height: 9px;
                    text-transform: uppercase;
                    &_blue{
                        color: #3C67FF;
                    }
                    &_lime{
                        color: #3BAF28;
                    }
                }
            }
            .project-create{
                padding-top: 36px;
                display: flex;
                justify-content: space-between;
                p{
                    font-family: "Ubuntu-Regular";
                    font-size: 10px;
                    line-height: 11px;
                    color: #8C8F99;
                }
            }
        }
    }
    .project-add{
        display: flex;
        padding: 13px 24px;
        background: #56D042;
        box-shadow: 0px 10px 10px rgba(59, 175, 40, 0.2);
        border-radius: 30px;
        border: none;
        bottom: 80px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        img{
            margin-right: 10px;
        }
        p{
            font-family: "Ubuntu-Regular";
            font-size: 15px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}
.delta{
    padding-bottom: 60px;
    .back{
        display: flex;
        margin-top: 50px;
        margin-bottom: 21px;
        img{
            margin-right: 10px;
        }
        p{
            font-family: "Ubuntu-Regular";
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #3BAF28;
        }
    }
    h1{
        font-family: "Roboto-Medium";
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: #313646;
    }
    .modules{
        margin-top: 28px;
        .module-item{
            &__info{
                .module-item__number{
                    font-family: "Ubuntu-Regular";
                    font-size: 12px;
                    line-height: 14px;
                    color: #717378;
                    margin-bottom: 6px;
                }
                .module-item__name{
                    font-family: "Roboto-Medium";
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    color: #313646;
                }
            } 
            &__title{
                display: flex;
                justify-content: space-between; 
                cursor: pointer;
                border-bottom: 1px solid #E5E5E5;
                padding: 26px 0;
            }  
            &__arrow{
                transition: all .4s;
            }
            .open{
                .module-item__arrow{
                    transform: rotate(180deg);
                    transition: all .4s;
                }
            }
            
            &__content{
                display: none;
                ul{
                    li{
                        a{
                            display: flex;
                            padding: 18px 0; 
                            position: relative;
                            .module-item__point{
                                width: 8px;
                                height: 8px;
                                background: #E5E5E5;
                                margin-right: 15px;
                                margin-top: 3px;
                                border-radius: 50%;
                                &_lime{
                                    background: #56D042;
                                }
                                &_blue{
                                    background: #3C67FF;
                                }
                            }
                        }
                        .module-item__text{
                            h3{
                                font-family: "Ubuntu-Regular";
                                font-size: 14px;
                                line-height: 16px;                         
                                color: #313646;
                                margin-bottom: 7px;
                            }
                            p{
                                font-family: "Ubuntu-Regular";
                                font-size: 12px;
                                line-height: 14px;
                                color: #A6A6A6;
                            }
                        }
                        a::after{
                            content: "";
                            width: calc(100% - 22px);
                            position: absolute;
                            bottom: 0;
                            left: 22px;
                            height: 1px;
                            background: #E5E5E5;
                        }
                    }
                }
            }
        }
        .module-item:first-child{
            padding-top: 0;
        }
    }
}
.module-description{
    padding-bottom: 80px;
    .back{
        display: flex;
        margin-top: 50px;
        margin-bottom: 21px;
        img{
            margin-right: 10px;
        }
        p{
            font-family: "Ubuntu-Regular";
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #3BAF28;
        }
    }
    .done{
        background: #CDF4E3;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 20px 18px;
        margin-bottom: 37px;
        &-info{
            display: flex;
            img{
                margin-right: 13px;
            }
            p{
                font-family: "Ubuntu-Medium";
                font-weight: 500;
                font-size: 15px;
                line-height: 17px;
                color: #313646; 
            }
        }
        a{
            font-family: "Ubuntu-Regular";
            font-size: 12px;
            line-height: 14px;
            text-decoration-line: underline;
            color: #8C93AA;
        }
    }
    .module{
        &__number{
            font-family: "Ubuntu-Regular";
            font-size: 12px;
            line-height: 14px;
            color: #717378;
        }
        h1{
            font-family: "Ubuntu-Medium";
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: #313646;
            margin: 13px 0 18px 0;
        }
        &__description{
            background: #F8F9FF;
            border-radius: 5px;
            padding: 12px;
            padding-right: 30px;
            position: relative;
            margin-bottom: 53px;
            p{
                font-family: "Ubuntu-Regular";
                font-weight: 500;
                font-size: 12px;
                line-height: 170.9%;
                color: #717378;
                span{
                    font-family: "Ubuntu-Medium";
                }
            }
            img{
                position: absolute;
                top: 7px;
                right: 7px;
            }
        }
        &-tasks{
            position: relative;
            margin-left: 65px;
            h2{
                font-family: "Ubuntu-Regular";
                font-size: 18px;
                line-height: 21px;
                color: #313646;
                margin-bottom: 30px;
                margin-top: 45px;
                position: relative;
                
            }
            h2:first-child{
                margin-top: 0;
            }
            h2::before{
                content: "";
                width: 14px;
                height: 14px;
                background: #F2F3F8;
                border-radius: 50%;
                position: absolute;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -31px;
            }
            p{
                font-family: "Ubuntu-Regular";
                font-size: 14px;
                line-height: 150%;
                color: #313646;
            }
            &::before{
                content: "";
                width: 2px;
                background: #F2F3F8;
                height: calc(100% - 5px);
                position: absolute;
                left: -25px;
                top: 5px;
            }
        }
        &-document{
            margin-top: 74px;
            h3{
                font-family: "Roboto-Medium";
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #313646;
                margin-bottom: 22px;
            }
            &__item{
                
                a{
                    margin-bottom: 16px;
                    display: flex;
                    img{
                        margin-right: 12px;
                    }
                    p{
                        font-family: "Ubuntu-Regular";
                        font-size: 12px;
                        line-height: 14px;
                        color: #3C67FF;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 0.5px solid #9EA1AA;
    background: #FFF;
    nav{
        ul{
            padding-top: 7px;
            padding-bottom: 7px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            li{
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    p{
                        margin-top: 5px;
                        font-family: "Ubuntu-Regular";
                        font-size: 9px;
                        line-height: 10px;
                        color: #9EA1AA;
                    }
                }
            }
        }
    }
}






